VITE_APP_ENV=development
VITE_CLOUD_BASE_URL=
VITE_ENABLE_DEBUG_UI=false
VITE_DISTRIBUTION_CHANNEL=development
VITE_POSTHOG_PUBLIC_KEY=
VITE_POSTHOG_HOST=https://us.i.posthog.com

VAAK_APP_ENV=development
VAAK_LOG_LEVEL=debug
VAAK_UPDATE_CHANNEL=dev
VAAK_ENABLE_TELEMETRY=false
